@{
    ViewData["Title"] = "Sobre";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Aplicação para demosntrar como funciona MVC em Asp.net core 2.1.0 <br />
    com Entity Framework core 2.1.3 e Mysql5.
</p>
