@{
    ViewData["Title"] = "Contato";
}

<h2>@ViewData["Title"]</h2>
<br />

<p>
    <strong>Analista de sistema</strong><br />
    Nome:Ronaldo Torre <br />
    E-mail:<a href="mailto:ronaldo.torre@outlook.com">ronaldo.torre@outlook.com</a><br />
    Celular:(11)1111-1111
</p>